.map{
    overflow: hidden;
    padding: 20px;
    background-color: #2C3E50;
    transform: scale(0.9);
}

.map__image{
    width: 50%;
    float: left;
    vertical-align: center;
}
.map__list{
    width: 50%;
    float: left;
    display: flex;
    text-align: center;
}
@media (max-width: 1190px) {
    .map__image{
        width: 100%;
    }
    .map__list{
        width: 100%;
    }
}

.map__image .is-active path{
    fill: red;
    animation: flash 1s infinite;
}
.map__list a.is-active{
    color: red;
    font-weight: bold;
}


.map__image path{
    fill: grey;
    stroke: white;
    stroke-width: 2px;
    transition: fill 0.3s;
}
.map__list a, h2, ul{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-decoration: none;
    color: #F4F6F6;
    font-family: "Arial", "sans-serif";
    list-style: none;
    line-height: 1.5;
}

@keyframes flash {
    10% {transform: scale(110%)}
    20% {transform: scale(120%)}
    30% {transform: scale(130%)}
    40% {transform: scale(140%)}
    50% {transform: scale(150%)}
    60% {transform: scale(140%)}
    70% {transform: scale(130%)}
    80% {transform: scale(120%)}
    90% {transform: scale(110%)}
    100% {transform: scale(1)}
}